---
import ThemeToggle from "./ThemeToggle.astro";
---

<div class="topBar">
  <div class="logoGroup">
    <div class="siteMark">
      <strong>cyh.io</strong>
    </div>
    <a href="https://github.com/cherihung" target="_blank" rel="noopener noreferrer" title="Github">
      <img src="/images/github.svg" width="24" alt="GitHub" />
    </a>
    <a href="https://linkedin.com/in/cyhung" target="_blank" rel="noopener noreferrer" title="LinkedIn">
      <img src="/images/linkedin.svg" width="24" alt="LinkedIn" />
    </a>
    <a href="https://medium.com/@cyhung" target="_blank" rel="noopener noreferrer" title="Medium">
      <img src="/images/medium.svg" width="24" alt="Medium" />
    </a>
  </div>
  <div class="choiceGroup">
    <ThemeToggle />
  </div>
</div>
